<div class="container myAnimated myFast myFadeIn">
    <div class="card card-register mx-auto mt-3 myBorderCard">

        <div class="card-header myCardHeader">Reportes</div>
        <div class="card-body">

            <form [formGroup]="frmReporte">

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>FECHA DESDE*</label>
                            <input formControlName="fechaDesde" type="date" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>FECHA HASTA*</label>
                            <input formControlName="fechaHasta" type="date" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>REPORTE*</label>
                            <div *ngIf="user.usu_IDRol === 2 || user.usu_IDRol === 5">
                                <select class="form-control" formControlName="reporte">
                                    <option value="" disabled>Seleccione Reporte...</option>
                                    <option *ngFor="let item of arrReporteMunicipal" [value]="item.stReporte">
                                        {{ item.reporte }}
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="user.usu_IDRol === 3 || user.usu_IDRol === 6">
                                <select class="form-control" formControlName="reporte">
                                            <option value="" disabled>Seleccione Reporte...</option>
                                            <option *ngFor="let item of arrReporteOperativo" [value]="item.stReporte">
                                                {{ item.reporte }}
                                            </option>
                                        </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>RANKING*</label>
                            <input formControlName="ranking" class="form-control" type="number" placeholder="Seleccione valor entre uno (1) y diez (10)" min="1" max="10">
                        </div>
                    </div>
                </div>

                <div class="text-center lblCampoObligatorio">
                    *Campos obligatorios
                </div>

                <br>

                <div class="row">
                    <div class="col-md-8">
                        <button (click)="verReporte()" [disabled]="!frmReporte.valid" type="button" class="btn btn-block btnPrimario myBtnCard">
                          Ver reporte <i class="fa fa-fw fa-search"></i>
                      </button>
                    </div>
                    <div class="col-md-4">
                        <button (click)="resetForm()" mat-mini-fab class="btnFiltro" class="btnLimpiar" matTooltip="Limpiar campos" matTooltipPosition="left"><i class="material-icons">clear</i></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<br>

<div id="cardReporte" style="visibility: hidden;" align="center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h2 id="tituloReporte"></h2>
                <div class="chart">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [colors]="pieChartColors">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>