<div class="container myAnimated myFast myFadeIn">
    <div class="card card-register mx-auto mt-3 myBorderCard">

        <div class="card-header myCardHeader">Reportes</div>
        <div class="card-body">

            <form [formGroup]="frmReporte">

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>FECHA DESDE</label>
                            <input formControlName="fechaDesde" type="date" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>FECHA HASTA</label>
                            <input formControlName="fechaHasta" type="date" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <label>REPORTE</label>
                        <!-- <select (change)="cargarDDLTipoReclamo()" class="form-control" formControlName="areaServicio">
                                <option value="" disabled>Seleccione Área de Servicio...</option>
                                <option>Reporte por Area de Servicio</option>
                                <option>Reporte por Tipo de Reclamo</option>
                                <option>Reporte por Barrio</option>
                            </select> -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <button type="button" class="btn btn-block btnPrimario myBtnCard">
                          Ver reporte <i class="fa fa-fw fa-search"></i>
                      </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ lstReclamo.arServ_nombre }}</h4>
                <app-grafico [chartLabels]="lstReclamo.arServ_nombre" [chartData]="" [chartType]="">
                </app-grafico>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <div class="chart">
                            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <div style="display: block">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [chartType]="barChartType">
                                </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <div style="display: block">
                            <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
                                </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>