<h3>¿Cómo Calificar un Reclamo?</h3>
<div class="text-justify">
    Esta operación podrá llevarla a cabo únicamente en caso de que el Reclamo haya sido resuelto. Para calificar su Reclamo, dirígase a la sección <b>Reclamo > Consultar</b>, seleccione el Reclamo correspondiente en la columna "Ver":
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/verReclamo2.png">
    </div>
    <br><br> Se listarán todas las actividades y estados por los cuales pasó su reclamo. Si el último Estado es "Cumplido", se habilitará el botón para poder calificarlo:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/calificarReclamo.png">
    </div>
    <br> Ingrese una calificación, y opcionalmente un comentario:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/calificarReclamo2.PNG">
    </div>
    <br> Luego de ingresar los datos solicitados, presione "Enviar". El sistema registrará su calificación y le mostrará el siguiente mensaje en pantalla:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/mensajeCalificarReclamo.png">
    </div>
    <br><br> Esto nos permitirá controlar la eficiencia y eficacia del trabajo realizado por las Áreas de Servicios e ir mejorando poco a poco para cumplir con el compromiso que tenemos con usted.
</div>