<div class="row">
    <div class="col-md-4">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Personal">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="per_dni">
                <th mat-header-cell *matHeaderCellDef style="width: 250px;">DNI</th>
                <td mat-cell *matCellDef="let element">{{ element.per_dni }}</td>
            </ng-container>

            <ng-container matColumnDef="per_nombreCompleto">
                <th mat-header-cell *matHeaderCellDef style="width: 450px;">Empleado</th>
                <td mat-cell *matCellDef="let element">{{ element.per_nombreCompleto }}</td>
            </ng-container>

            <ng-container matColumnDef="Editar">
                <th mat-header-cell *matHeaderCellDef>Editar</th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="selectDataPersonal(element.per_IDPersonal)" mat-flat-button color="primary">
                            <i class="material-icons">create</i>
                        </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="col-md-8">
        <div class="container myAnimated myFast myFadeIn">
            <div class="card card-register mx-auto mt-5 myBorderCard">
                <div class="card-header myCardHeader">Registrar Personal</div>
                <div class="card-body">
                    <form [formGroup]="frmPersonal">
                        <div class="form-group">
                            <div class="form-row">
                                <label>DNI*</label>
                                <input id="txtDNI" (keypress)="validarNum($event)" formControlName="dni" [(ngModel)]="inputDNI" type="text" class="form-control" maxlength="8" placeholder="Ingrese DNI">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <label>NOMBRE*</label>
                                    <input formControlName="nombre" type="text" class="form-control" [(ngModel)]="inputNombre" placeholder="Ingrese Nombre">
                                </div>
                                <div class="col-md-6">
                                    <label>APELLIDO*</label>
                                    <input formControlName="apellido" type="text" class="form-control" [(ngModel)]="inputApellido" placeholder="Ingrese Apellido">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-row">
                                <label for="telefono">TELEFONO</label>
                                <input (keypress)="validarNum($event)" formControlName="telefono" type="text" class="form-control" [(ngModel)]="inputTelefono" placeholder="Ingrese n° de teléfono" maxlength="10">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="text-center lblCampoObligatorio">
                                *Campos obligatorios
                            </div>
                        </div>

                        <br>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8">
                                    <button (click)="registrarPersonal(boBand)" [disabled]="!frmPersonal.valid" class="btn btn-block btnPrimario myBtnCard">
                                            Guardar
                                        </button>
                                </div>
                                <div class="col-md-4">
                                    <button (click)="resetForm()" mat-mini-fab class="btnFiltro" class="btnLimpiar" matTooltip="Limpiar campos" matTooltipPosition="left"><i class="material-icons">clear</i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>