<div class="container myAnimated myFast myFadeIn">
    <div class="card card-register mx-auto mt-3 myBorderCard">
        <div class="card-header myCardHeader">Búsqueda de Reclamos</div>
        <div class="card-body">
            <form [formGroup]="frmCrearOrdenServicio">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>FECHA DESDE</label>
                            <input formControlName="fechaDesde" class="form-control" type="date" matTooltip="Seleccionar fecha desde" matTooltipPosition="above">
                        </div>
                        <div class="col-md-6">
                            <label>FECHA HASTA</label>
                            <input formControlName="fechaHasta" class="form-control" type="date" matTooltip="Seleccionar fecha hasta" matTooltipPosition="above">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <button (click)="selectReclamo()" class="btn btn-block btnPrimario myBtnCard">
                            Buscar <i class="fa fa-fw fa-search"></i>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button (click)="this.frmCrearOrdenServicio.reset()" mat-mini-fab class="btnFiltro" class="btnLimpiar" matTooltip="Limpiar campos" matTooltipPosition="left"><i class="material-icons">clear</i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<br />

<div>
    <div class="form-group">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ingrese algún dato del Reclamo">
        </mat-form-field>
        <div class="lblCampoObligatorio">
            Para filtrar reclamos ingrese cualquier dato referido al mismo, ya sea código, fecha de alta, reclamo, dirección, etc.
        </div>
    </div>
    <br>
    <div id="idTableConsulta" style="visibility: hidden;" class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" matTooltip="Seleccionar todo" matTooltipPosition="above">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="rec_fechaAlta">
                <th mat-header-cell *matHeaderCellDef>Fecha Alta</th>
                <td mat-cell *matCellDef="let element">{{ element.rec_fechaAlta }}</td>
            </ng-container>

            <ng-container matColumnDef="tipRec_nombre">
                <th mat-header-cell *matHeaderCellDef>Reclamo</th>
                <td mat-cell *matCellDef="let element">{{ element.tipRec_nombre }}</td>
            </ng-container>

            <ng-container matColumnDef="rec_direccion">
                <th mat-header-cell *matHeaderCellDef>Dirección</th>
                <td mat-cell *matCellDef="let element">{{ element.rec_direccion }}</td>
            </ng-container>

            <ng-container matColumnDef="bar_nombre">
                <th mat-header-cell *matHeaderCellDef>Barrio</th>
                <td mat-cell *matCellDef="let element">{{ element.bar_nombre }}</td>
            </ng-container>

            <ng-container matColumnDef="pri_nombre">
                <th mat-header-cell *matHeaderCellDef>Proridad</th>
                <td mat-cell *matCellDef="let element">{{ element.pri_nombre }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>

<br>

<div id="seccionSiguiente" style="visibility: hidden;">
    <div class="form-group" style="float: left !important;">
        <div class="text-center lblCampoObligatorio">
            *Para generar una Orden de Servicio seleccione al menos un reclamo.
        </div>
    </div>

    <button mat-raised-button (click)="registrarOrdenServicio()" [disabled]="selection.selected.length === 0" color="primary" matTooltip="Registrar Orden de Servicio" matTooltipPosition="left" style="float: right;">
        Siguiente <i class="fa fa-fw fa-chevron-right"></i>
    </button>
</div>