<h3>¿Cómo Consultar un reclamo?</h3>
<div class="text-justify">
    Para <b>consultar</b> un Reclamo, dirígase a la sección <b>Reclamo > Consultar</b>, e ingrese cualquier dato relacionado al mismo, ya sea código, area de servicio, reclamo, dirección, etc:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/consultarReclamo.PNG">
    </div>
    <br> Presionando el botón en la columna "Ver" de algún Reclamo específico, podrá visualizar las actividades llevadas a cabo en el proceso de resolución, empezando desde la Generación de la Orden de Servicio hasta el cumplimiento del Reclamo en caso
    que haya podido resolverse:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/verReclamo.png">
    </div>
</div>