<div class="container myAnimated myFast myFadeIn">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header myCardHeader">Datos Personales</div>
        <div class="card-body">

            <form [formGroup]="frmPerfil">

                <div class="form-group">
                    <label>DNI</label>
                    <br>
                    <input id="txtDNI" matInput (keypress)="validarIngreso($event)" formControlName="dni" [(ngModel)]="inputDNI" class="form-control" type="text" placeholder="DNI" maxlength="8">
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>USUARIO</label>
                            <input matInput formControlName="usuario" [(ngModel)]="inputUser" class="form-control" type="text" placeholder="Nombre de Usuario">
                        </div>
                        <div class="col-md-6">
                            <label>CONTRASEÑA</label>
                            <input matInput formControlName="password" [(ngModel)]="inputPass" class="form-control" type="password" placeholder="Contraseña">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>NOMBRE</label>
                            <input matInput formControlName="nombre" [(ngModel)]="inputNombre" class="form-control" type="text" placeholder="Ingrese nombre">
                        </div>
                        <div class="col-md-6">
                            <label>APELLIDO</label>
                            <input matInput formControlName="apellido" [(ngModel)]="inputApellido" class="form-control" type="text" placeholder="Ingrese apellido">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>TELEFONO</label>
                            <input matInput (keypress)="validarIngreso($event)" formControlName="telefono" [(ngModel)]="inputTel" class="form-control" type="text" placeholder="Ingrese n° de teléfono">
                        </div>
                        <div class="col-md-6">
                            <label>EMAIL</label>
                            <input matInput formControlName="email" [(ngModel)]="inputEmail" class="form-control" type="text" placeholder="Ingrese email">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <button (click)="guardarDatos()" type="button" class="btn btn-block btnPrimario myBtnCard">
                            Guardar <i class="fa fa-fw fa-save"></i>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button (click)="resetForm()" mat-mini-fab class="btnFiltro" class="btnLimpiar" matTooltip="Limpiar campos" matTooltipPosition="left"><i class="material-icons">clear</i></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>