<div class="container myAnimated myFadeIn">
    <div class="card card-register mx-auto mt-3">

        <div class="card-header myCardHeader">Resumen</div>
        <div class="card-body">

            <form>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <div *ngIf="user.usu_IDRol === 2 || user.usu_IDRol === 5">
                                <div class="form-row">
                                    <label><strong>Reclamante:</strong></label>
                                    <div class="ml-1"></div>
                                    <label>{{ this.objUser.nombre + ' ' + this.objUser.apellido }}</label>
                                </div>
                            </div>

                            <div id="divFecha" class="form-row">
                                <label><strong>Fecha:</strong></label>
                                <div class="ml-1"></div>
                                <label>{{ fechaHoy | date: 'dd/MM/yyyy' }}</label>
                            </div>

                            <div class="form-row">
                                <label><strong>Area de Servicio:</strong></label>
                                <div class="ml-1"></div>
                                <label>{{ objRec.areaServicio.arServ_nombre }}</label>
                            </div>

                            <div class="form-row">
                                <label><strong>Reclamo:</strong></label>
                                <div class="ml-1"></div>
                                <label>{{ objRec.tipoReclamo.tipRec_nombre }}</label>
                            </div>

                            <div class="form-row">
                                <label><strong>Dirección:</strong></label>
                                <div class="ml-1"></div>
                                <label>{{ objRec.calle.cal_nombre + ' ' + objRec.altura}}</label>
                            </div>

                            <div class="form-row">
                                <label><strong>Barrio:</strong></label>
                                <div class="ml-1"></div>
                                <label>{{ objRec.barrio.bar_nombre }}</label>
                            </div>

                            <div *ngIf="user.usu_IDRol === 2 || user.usu_IDRol === 5" class="form-row">
                                <label><strong>Canal:</strong></label>
                                <div class="ml-1"></div>
                                <label>{{ objRec.canal.can_nombre }}</label>
                            </div>

                            <div class="form-row">
                                <label><strong>Observaciones:</strong></label>
                                <div class="ml-1"></div>
                                <label *ngIf="objRec.Observacion !== ''"> {{ objRec.observaciones }} </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group lblMensajeEnvio">
                    *Antes de enviar el reclamo verifique que los datos sean correctos. Una vez enviado, no pueden modificarse.
                </div>

                <div class="lblConfirmar">
                    <mat-checkbox name="cbxConfirmar" [(ngModel)]="estado" class="example-margin" color="primary">Confirmo haber revisado los datos del reclamo</mat-checkbox>
                </div>

                <br /><br>

                <div class="row">
                    <div class="col-md-6">
                        <button (click)="cancelarEnvio()" type="button" class="btn btn-block btnCancelar">
                            Cancelar
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button [disabled]="!estado" (click)="registrarReclamo()" class="btn btn-block btnPrimario">
                            Enviar <i class="mdi mdi-share"></i>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>