<h3>¿Cómo Registrar un Reclamo?</h3>
<div class="text-justify">
    Dirígase a la sección <b>Reclamo > Registrar</b>
    <br><br> 1) El sistema solicitará el ingreso de los datos del Ciudadano Reclamante:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/datosCiudadanoReclamante.png">
    </div>
    <br> Una vez ingresado los mismos, mediante el botón <b>Siguiente</b>, el sistema valida que los datos del usuario no existan, y si existen, muestra el siguiente mensaje y cancelará el proceso:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/usuarioCiudadanoExistente.png">
    </div>
    <br> En caso que el usuario sea nuevo, dará paso al ingreso de los datos del Reclamo:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/datosReclamoMunicipal.png">
    </div>
    <br> Si desea modificar algún dato del usuario ciudadano, puede regresar al formulario anterior con el botón <b>Anterior.</b>
    <br>
    <br> 2) Una vez ingresados los datos obligatorios (*), presionando el botón <b>Siguiente</b>, el sistema valida que el Reclamo no halla sido ingresado con anterioridad. En caso de que ya se encuentre registrado, le aparecerá el siguiente mensaje (en
    caso de estar en estado "Sin Asignar"):
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/validarReclamo.png">
    </div>
    <br> Caso contrario, si es un Reclamo nuevo, se le mostrará un resumen con los datos del mismo:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/resumenReclamoMunicipal.png">
    </div>
    <br> Si desea modificar algún dato del usuario ciudadano, puede regresar al formulario anterior con el botón <b>Cancelar.</b>
    <br>
    <br> 3) Antes de enviar el Reclamo, corrobore que los datos ingresados sean correctos, ya que una vez registrado el mismo, sus datos no pueden modificarse. Tilde el casillero <b>Confirmo haber revisado los datos del reclamo</b> y presione <b>Enviar</b>.
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/reclamoRegistrado.PNG">
    </div>
    <br> El sistema automáticamente creará un usuario al ciudadano reclamante, el cual podrá utilizar posteriormente ingresando como nombre de usuario y contraseña su DNI. Luego, se registra el Reclamo y se le envía un correo electrónico con el código
    del mismo para que pueda consultar las actividades llevadas a cabo.
</div>