<h3>¿Cómo Registrar un Reclamo?</h3>
<div class="text-justify">
    Dirígase a la sección <b>Reclamo > Registrar</b>.
    <br><br> En primer lugar, se deben ingresar los datos del ciudadano reclamante:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/datosReclamante.png">
    </div>
    <br><br> En segundo lugar, el sistema solicita el ingreso de los datos del Reclamo en el orden en que aparecen (area de servicio, reclamo, barrio, etc).
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/datosReclamoMunicipal.png">
    </div>
    <br> 2) Una vez ingresados los datos obligatorios (*), presionando el botón <b>Siguiente</b>, el sistema valida que el Reclamo que intenta registrar no halla sido ingresado con anterioridad. En caso de que ya se encuentre registrado, le aparecerá
    el siguiente mensaje:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/validarReclamo.png">
    </div>
    <br> Caso contrario, si el Reclamo no ha sido ingresado con anterioridad, se le mostrará un resumen con los datos del mismo:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/resumenReclamo.PNG">
    </div>
    <br> 3) Antes de enviar el Reclamo, corrobore que los datos ingresados sean correctos, ya que una vez registrado el mismo, sus datos no pueden modificarse. Tilde el casillero <b>Confirmo haber revisado los datos del reclamo</b> y presione <b>Enviar</b>.
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/reclamoRegistrado.PNG">
    </div>
    <br> El sistema registrará los datos del reclamante y luego el Reclamo ingresado.
    <br><br> Esta persona, en principio podrá ingresar al sistema con nombre de usuario y contraseña correspondientes a su DNI. En caso que desee, podrá modificar sus datos desde la sección <b>Perfil</b>.
    <br><br> Luego de registrado el Reclamo automáticamente se le envía un correo electrónico informando su registro de usuario con éxito y su código de Reclamo para su posterior consulta.
    <br><br>
</div>