<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image: url(assets/images/myImages/img_vmLogin.jpg)">
    <div class="login-box card">
        <div class="card-body bgLogin">

            <a class="text-center db"><img src="assets/images/logo-light-icon.png" /><br/><img src="assets/images/myImages/logo_DigitalClaim.png" /></a>
            <h3 class="box-title m-t-40 m-b-0 text-center">Iniciar Sesión</h3>

            <form [formGroup]="frmLogin" (ngSubmit)="onSubmit()" class="form-horizontal form-material">
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input id="txtUsuario" formControlName="username" type="text" class="form-control" placeholder="Nombre de usuario" [ngClass]="{'is-invalid': !frmLogin.controls['username'].valid}">
                        <div *ngIf="frmLogin.controls['username'].errors?.required && !frmLogin.controls['username'].pristine" class="invalid-feedback divValid">
                            *Ingrese nombre de usuario
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input id="txtPassword" formControlName="password" type="password" class="form-control" placeholder="Contraseña" [ngClass]="{'is-invalid': !frmLogin.controls['password'].valid}">
                    </div>
                    <div *ngIf="frmLogin.controls['password'].errors?.required && !frmLogin.controls['password'].pristine" class="invalid-feedback divValid">
                        *Ingrese contraseña
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="checkbox checkbox-primary pull-left p-t-0">
                            <input name="remember-me" id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
                            <label for="checkbox-signup" class="recordarPass"> Recordarme </label>
                        </div>
                        <a [routerLink]="'/recuperar-password'" class="pull-right linkRedirect"><i class="fa fa-lock m-r-5"></i> ¿Olvidaste tu contraseña?</a>
                    </div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button [disabled]="!frmLogin.valid" class="btn btn-info btn-lg btn-block btn-rounded btnIngresar">Ingresar</button>
                    </div>
                </div>

                <div class="form-group m-b-0">
                    <div class="col-sm-12">
                        <p class="text-center text-white">¿No tienes cuenta? <a [routerLink]="'/register'" class="text-primary m-l-5 linkRedirect"><b>Regístrate</b></a></p>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->