/* Propiedades validación ingreso controles */

.divValid {
    font-size: 12px !important;
    color: #F19E8D !important;
    font-weight: 500 !important;
}


/* Propiedades hyperlinks */

.linkRedirect {
    color: lightblue !important;
}

.linkRedirect :hover {
    color: cyan !important;
}


/* Formato cursor en campos deshabilitados */

:disabled {
    cursor: not-allowed;
}


/* Propiedades input */

input {
    color: whitesmoke !important;
}

::placeholder {
    color: lightblue;
}


/* -------------------- <LOGIN> -------------------- */

.recordarPass {
    font-size: 12px;
    color: white;
}

.btnIngresar {
    background-color: #3FBCEF !important;
    color: black !important;
    text-transform: uppercase;
}

.btnIngresar:hover {
    background-color: rgb(33, 37, 41) !important;
    color: #3FBCEF !important;
}


/* -------------------- </LOGIN> -------------------- */


/* -------------------- <RECUPERAR PASSWORD> -------------------- */

.pMensaje {
    text-align: center;
    color: white;
}


/* -------------------- </RECUPERAR PASSWORD> -------------------- */

.bgLogin {
    background-color: steelblue !important;
}

.verticalScroll {
    overflow-y: scroll !important;
}

.login-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding: 10% 0;
    position: fixed;
}

.login-box {
    width: 400px;
    margin: 0 auto;
}

.login-box .footer {
    width: 100%;
    left: 0px;
    right: 0px;
}

.login-box .social {
    display: block;
    margin-bottom: 30px;
}

#recoverform {
    display: none;
}

.login-sidebar {
    padding: 0px;
    margin-top: 0px;
}

.login-sidebar .login-box {
    right: 0px;
    position: absolute;
    height: 100%;
}