<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar" style="background-image: url(assets/images/myImages/img_vmLogin.jpg)">
    <div class="login-box card">
        <div class="card-body bgLogin verticalScroll">

            <a href="javascript:void(0)" class="text-center db"><img src="assets/images/logo-light-icon.png" /><br/><img src="assets/images/myImages/logo_DigitalClaim.png" /></a>
            <h3 class="box-title m-t-40 m-b-0 text-center">Regístrate</h3>

            <form [formGroup]="frmRegistro" (ngSubmit)="onSubmit()" class="form-horizontal form-material">

                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" formControlName="username" placeholder="Nombre de usuario" [ngClass]="{'is-invalid': !frmRegistro.controls['username'].valid}">

                        <div *ngIf="frmRegistro.controls['username'].errors?.required && !frmRegistro.controls['username'].pristine" class="invalid-feedback divValid">
                            *Ingrese nombre de usuario
                        </div>
                    </div>
                </div>

                <div class=" form-group ">
                    <div class="col-xs-12 ">
                        <input class="form-control " type="password" formControlName="password" placeholder="Contraseña " [ngClass]="{'is-invalid': !frmRegistro.controls['password'].valid}">


                        <div *ngIf="frmRegistro.controls[ 'password'].errors?.required && !frmRegistro.controls[ 'password'].pristine" class="invalid-feedback divValid">
                            *Ingrese contraseña
                        </div>

                        <div *ngIf="frmRegistro.controls[ 'password'].errors?.minlength " class="invalid-feedback divValid">
                            *La contraseña debe poseer al menos 6 caracteres
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-xs-12 ">
                        <input class="form-control " type="password" formControlName="repetirPassword" placeholder="Repetir contraseña " [ngClass]="{'is-invalid': !frmRegistro.controls['repetirPassword'].valid}">

                        <div *ngIf="frmRegistro.controls[ 'repetirPassword'].errors?.required && !frmRegistro.controls[ 'repetirPassword'].pristine" class="invalid-feedback divValid ">
                            *Repita la contraseña
                        </div>

                        <!-- <div *ngIf="frmRegistro.errors?.sonIguales && !frmRegistro.controls[ 'repetirPassword'].pristine" class="invalid-feedback divValid ">
                            *Las contraseñas deben ser iguales
                        </div> -->
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-xs-12 ">
                        <input class="form-control " type="number" formControlName="dni" placeholder="DNI" [ngClass]="{'is-invalid': !frmRegistro.controls['dni'].valid}">

                        <div *ngIf="frmRegistro.controls[ 'dni'].errors?.required && !frmRegistro.controls[ 'dni'].pristine" class="invalid-feedback divValid ">
                            *Ingrese su DNI
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-xs-12 ">
                        <input class="form-control " type="text" formControlName="nombre" placeholder="Nombre " [ngClass]="{'is-invalid': !frmRegistro.controls['nombre'].valid}">

                        <div *ngIf="frmRegistro.controls[ 'nombre'].errors?.required && !frmRegistro.controls[ 'nombre'].pristine" class="invalid-feedback divValid ">
                            *Ingrese su nombre
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-xs-12 ">
                        <input class="form-control " type="text" formControlName="apellido" placeholder="Apellido " [ngClass]="{'is-invalid': !frmRegistro.controls['apellido'].valid}">

                        <div *ngIf="frmRegistro.controls[ 'apellido'].errors?.required && !frmRegistro.controls[ 'apellido'].pristine" class="invalid-feedback divValid ">
                            *Ingrese su apellido
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-xs-12 ">
                        <input class="form-control " type="text" formControlName="telefono" placeholder="Telefono ">
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-xs-12 ">
                        <input class="form-control " type="email " formControlName="email" placeholder="Email " [ngClass]="{'is-invalid': !frmRegistro.controls['email'].valid}">

                        <div *ngIf="frmRegistro.controls[ 'email'].errors?.required && !frmRegistro.controls[ 'email'].pristine" class="invalid-feedback divValid ">
                            *Ingrese email
                        </div>
                    </div>
                </div>

                <div class="form-group text-center m-t-20 ">
                    <div class="col-xs-12 ">
                        <button [disabled]="!frmRegistro.valid" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light ">
                            Crear Cuenta
                        </button>
                    </div>
                </div>

                <div class="form-group m-b-0 ">
                    <div class="col-sm-12 ">
                        <p class="text-center text-white">¿Ya tienes una cuenta? <a [routerLink]=" '/login' " routerLinkActive="router-link-active " class="text-info m-l-5 linkRedirect "><b>Ingresá</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->