<h3>¿Cómo Registrar una Orden de Servicio?</h3>
<div class="text-justify">
    Para llevar a cabo este procedimiento, el usuario operativo debe ingresar en el sistema con su usuario y contraseña correspondiente. Automáticamente se lo redirige a la sección “Orden de Servicio”:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/RegistrarOrdenServicio/registrarOrdenServicio1.png">
    </div>
    <br> Aquí, el sistema lista predeterminadamente todos los reclamos en estado “Sin Asignar” (primera etapa del reclamo, luego de haber sido registrado por el usuario ciudadano) del área de servicio en cuestión. Estos reclamos están disponibles para
    añadirse a una orden de servicio que posteriormente abordará los mismos:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/RegistrarOrdenServicio/registrarOrdenServicio2.png">
    </div>
    <br> En la parte superior del formulario, se cuenta con un filtro de búsqueda de campos de fecha, para filtrar reclamos entre un período, si fuese necesario. Una vez ingresados los datos, presionar el botón “Buscar” y el sistema listará todos los
    reclamos en estado “Sin Asignar” registrados entre la fecha aplicada:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/RegistrarOrdenServicio/registrarOrdenServicio3.png">
    </div>
    <br> En caso de no ingresar una fecha, presionando el botón “Buscar” el sistema lista todos los reclamos en estado “Sin Asignar” del área servicio en cuestión. Para dar de alta una orden de servicio, se deben seleccionar el/los reclamo/s a incluir
    en la misma, presionando el casillero correspondiente al reclamo a incluir, y en caso que desee incluir todos los listados, el primer casillero tildará todos los reclamos automáticamente:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/RegistrarOrdenServicio/registrarOrdenServicio4.png">
    </div>
    <br><br>
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/RegistrarOrdenServicio/registrarOrdenServicio5.png">
    </div>
    <br> Nóte que se cuenta con un mensaje en el extremo inferior izquierdo, especificando que para generar una orden de servicio, debe seleccionarse al menos un reclamo. Una vez hecho esto, el sistema habilita el botón “Siguiente” para proceder a la
    generación de la orden de servicio:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/RegistrarOrdenServicio/registrarOrdenServicio6.png">
    </div>
    <br> El sistema muestra un formulario con los datos a ingresar para dar de alta una nueva orden de servicio. Una vez ingresado los campos obligatorios, el sistema habilita el botón “Registrar” para proceder al alta:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/RegistrarOrdenServicio/registrarOrdenServicio7.png">
    </div>
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/RegistrarOrdenServicio/registrarOrdenServicio8.png">
    </div>
    <br> Una vez registrada la orden de servicio, se arma una cuadrilla de trabajo que se encargan de abordar los reclamos realizados.
</div>