<div class="row">
    <div class="col-md-4">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Reclamo">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="tipRec_nombre">
                <th mat-header-cell *matHeaderCellDef style="width: 300px;">Reclamo</th>
                <td mat-cell *matCellDef="let element">{{ element.tipRec_nombre }}</td>
            </ng-container>

            <ng-container matColumnDef="Editar">
                <th mat-header-cell *matHeaderCellDef>Editar</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-flat-button (click)="mostrarDataReclamo(element.tipRec_IDTipoReclamo, element.tipRec_nombre, element.tipRec_IDPrioridad)" color="primary">
                        <i class="material-icons">create</i>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="col-md-8">
        <div class="container myAnimated myFast myFadeIn">
            <div class="card card-register mx-auto mt-5 myBorderCard">
                <div class="card-header myCardHeader">Registrar Tipo de Reclamo</div>
                <div class="card-body">
                    <form [formGroup]="frmTipoReclamo">
                        <div class="form-group">
                            <div class="form-row">
                                <label>NOMBRE*</label>
                                <input id="txtReclamo" matInput formControlName="nombre" [(ngModel)]="inputRec" type="text" class="form-control inputAbm" placeholder="Ingrese nombre de Tipo de Reclamo">
                                <button mat-button *ngIf="inputRec !== ''" (click)="resetForm('reclamo')" matSuffix mat-icon-button aria-label="Clear" matTooltip="Borrar texto">
                                    <i class="material-icons">clear</i>
                                </button>
                            </div>
                            <br>
                            <div class="form-row">
                                <label>PRIORIDAD</label>
                                <mat-select formControlName="prioridad" [(ngModel)]="inputPri" class="form-control" placeholder="Seleccione Prioridad">
                                    <mat-option *ngFor="let item of arrPrioridad" [value]="item.pri_IDPrioridad">
                                        {{ item.pri_nombre }}
                                    </mat-option>
                                </mat-select>
                                <button mat-button (click)="resetForm('prioridad')" matSuffix mat-icon-button aria-label="Clear" matTooltip="Cancelar selección">
                                    <i class="material-icons">clear</i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <button id="btnClear" (click)="registrarTipoReclamo()" [disabled]="!frmTipoReclamo.valid" class="btn btn-block btnPrimario myBtnCard">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>