<h3>¿Cómo Consultar un Reclamo?</h3>
<div class="text-justify">
    Para consultar un reclamo, dirigirse al menú lateral izquierdo, sección “Reclamo” y seleccionar la opción “Consultar”:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/ConsultarReclamoMunicipal/consultarReclamoMunicipal1.png">
    </div>
    <br> El sistema solicitará el ingreso del dni del usuario ciudadano que desea obtener información sobre su reclamo. Al ingresar dni, se presiona “Buscar” y el sistema listará todos los reclamos realizados por ese ciudadano:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/ConsultarReclamoMunicipal/consultarReclamoMunicipal2.png">
    </div>
    <br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/ConsultarReclamoMunicipal/consultarReclamoMunicipal3.png">
    </div>
    <br> Para consultar un reclamo en particular, se debe ingresar cualquier dato relacionado al reclamo, ya sea código, fecha de alta, área de servicio, reclamo, dirección o barrio, y el sistema realiza la búsqueda en base al dato tipeado:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/ConsultarReclamoMunicipal/consultarReclamoMunicipal4.png">
    </div>
    <br> Para visualizar el reclamo, presionar el botón de la columna “Ver”:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/ConsultarReclamoMunicipal/consultarReclamoMunicipal5.png">
    </div>
    <br> El sistema mostrará todas las etapas por las que pasó el reclamo, comenzando desde la notificación al área de servicio, hasta el cierre del reclamo, en el caso más habitual:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/ConsultarReclamoMunicipal/consultarReclamoMunicipal6.png">
    </div>
</div>