<div class="row">
    <div class="col-md-4">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="con_fechaAlta">
                <th mat-header-cell *matHeaderCellDef style="width: 120px;">Fecha Alta</th>
                <td mat-cell *matCellDef="let element">{{ element.con_fechaAlta }}</td>
            </ng-container>

            <!-- <ng-container matColumnDef="con_mensaje">
                        <th mat-header-cell *matHeaderCellDef style="width: 200px;">Mensaje</th>
                        <td mat-cell *matCellDef="let element">{{ element.con_mensaje }}</td>
                    </ng-container> -->

            <ng-container matColumnDef="usu_nombreCompleto">
                <th mat-header-cell *matHeaderCellDef style="width: 200px;">Ciudadano</th>
                <td mat-cell *matCellDef="let element">{{ element.usu_nombreCompleto }}</td>
            </ng-container>

            <ng-container matColumnDef="Ver">
                <th mat-header-cell *matHeaderCellDef>Consulta</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-flat-button (click)="verMensaje(element)" color="primary" matTooltip="Ver Mensaje" matTooltipPosition="below">
                                    <i class="material-icons">remove_red_eye</i>
                                </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="col-md-8">
        <div class="container myAnimated myFast myFadeIn">
            <div class="card card-register mx-auto mt-3 myBorderCard">
                <div class="card-header myCardHeader">Responder Consulta</div>
                <div class="card-body">
                    <form [formGroup]="frmConsulta">
                        <div class="form-group">
                            <label>MENSAJE</label>
                            <textarea formControlName="mensaje" type="text" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <label>RESPUESTA</label>
                            <textarea formControlName="respuesta" type="text" class="form-control"></textarea>
                        </div>

                        <div class="form-group">
                            <div class="text-center lblCampoObligatorio">
                                *Campos obligatorios
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <div class="col-md-8">
                                <button [disabled]="!frmConsulta.valid" class="btn btn-block btnPrimario myBtnCard">
                                    Enviar Respuesta
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>