<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="con_fechaAlta">
        <th mat-header-cell *matHeaderCellDef style="width: 120px;">Fecha Alta</th>
        <td mat-cell *matCellDef="let element">{{ element.con_fechaAlta }}</td>
    </ng-container>

    <ng-container matColumnDef="con_mensaje">
        <th mat-header-cell *matHeaderCellDef style="width: 200px;">Mensaje</th>
        <td mat-cell *matCellDef="let element">{{ element.con_mensaje }}</td>
    </ng-container>

    <ng-container matColumnDef="con_nombreCompleto">
        <th mat-header-cell *matHeaderCellDef style="width: 200px;">Ciudadano</th>
        <td mat-cell *matCellDef="let element">{{ element.con_nombre + ' ' + element.con_apellido }}</td>
    </ng-container>

    <ng-container matColumnDef="Ver">
        <th mat-header-cell *matHeaderCellDef>Ver</th>
        <td mat-cell *matCellDef="let element">
            <button mat-flat-button (click)="verMensaje(element)" color="primary" matTooltip="Detalle del Reclamo" matTooltipPosition="below">
                    <i class="material-icons">remove_red_eye</i>
                </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>