<h3>¿Cómo Calificar un Reclamo?</h3>
<div class="text-justify">
    Esta operación podrá llevarla a cabo únicamente en caso de que el Reclamo se encuentre en estado <b>Cumplido</b>. Para calificar su Reclamo, dirígase a la sección <b>Reclamo > Consultar</b>.
    <br><br>Seleccione el Reclamo correspondiente en la columna <b>Ver</b>:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/verReclamoCalificar.png">
    </div>
    <br><br> Se listarán todas las actividades y estados por los cuales pasó su reclamo. Si el último Estado es <b>Cumplido</b>, se habilitará el botón para poder calificarlo:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/calificarReclamo.png">
    </div>
    <br> Ingrese una calificación, y opcionalmente un comentario:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/calificarReclamo2.PNG">
    </div>
    <br> Luego de ingresar los datos solicitados, presione <b>Enviar</b>. El sistema registrará su calificación y le mostrará el siguiente mensaje en pantalla:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/mensajeCalificarReclamo.png">
    </div>
    <br> En caso de que un Reclamo ya se encuentre calificado, tendrá la posibilidad de visualizar la calificación del mismo:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/verCalificacion.png">
    </div>
    <br> Se abrirá una pantalla mostrando los datos de la calificación realizada:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/calificacionReclamo.png">
    </div>
</div>