.btn-primary:hover,
.btn-primary.disabled:hover {
    background-color: #1e88e5 !important;
}

.inputDireccion {
    width: 91% !important;
}

agm-map {
    height: 350px;
}

input:disabled {
    cursor: default !important;
}