<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <h4>Calificación de Reclamo</h4>
        </div>
        <div class="col-md-6">
            <button mat-button (click)="cerrarModal()" class="btnCerrar">X</button>
        </div>
    </div>
</div>
<div>
    <label>Fecha: {{ objRating.rat_fechaAlta }}</label>
    <br>
    <label>
                Calificación:
                <label *ngFor="let item of ratingArr; index as i">
                    <mat-icon style="color: #FFD740 !important;">star</mat-icon>
                </label>
    </label>
    <br>
    <label>Comentario: {{ objRating.rat_comentario }}</label>
</div>