<h3>¿Cómo Consultar un reclamo?</h3>
<div class="text-justify">
    Para <b>consultar</b> un Reclamo, dirígase a la sección <b>Reclamo > Consultar</b>.
    <br><br> El sistema listara todos los reclamos con sus datos en una grilla:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/grillaConsultar.png">
    </div>
    <br><br> Para consultar un Reclamo, puede ingresar cualquier dato referido al mismo, ya sea código, fecha de alta, reclamo, etc. En caso de utilizar su código, una vez ingresado, el sistema realiza la búsqueda del Reclamo:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/reclamoFiltrado.png">
    </div>
    <br> Presionando el botón en la columna <b>Ver</b> de algún Reclamo específico, podrá visualizar las actividades llevadas a cabo en el proceso de resolución, empezando desde la <b>Notificación al Área de Servicio</b> hasta el <b>Cierre del Reclamo</b>    (en este ejemplo, Cumplido):
    <br><br>
    <div align="center">
        <img src="../../../assets/images/myImages/detalleReclamo.png">
    </div>
</div>