<div class="container myAnimated myFast myFadeIn">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header myCardHeader">Consultar Reclamo</div>
        <div class="card-body">
            <form [formGroup]="frmConsultarReclamo">
                <div *ngIf="user.usu_IDRol === 1">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-5">
                                <label>Estado</label>
                                <select (change)="listarReclamoPorEstado()" formControlName="estado" class="form-control ddlEstado" [(ngModel)]="ddlEstRec" placeholder="Seleccione Estado de Reclamo">
                                    <option value="" disabled>Seleccione Estado de Reclamo...</option>
                                    <option *ngFor="let item of arrEstado" [value]="item.estRec_IDEstado">
                                        {{ item.estRec_nombre }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-7">
                                <label>Dato</label>
                                <input (keyup)="applyFilter($event.target.value)" class="form-control" placeholder="Ingrese algún dato del Reclamo">
                            </div>
                        </div>
                    </div>
                    <div class="form-group lblCampoObligatorio">
                        <p>*Para realizar la consulta de su reclamo ingrese cualquier dato referido al mismo, ya sea código, fecha de alta, reclamo, dirección, etc.</p>
                    </div>
                </div>

                <div *ngIf="user.usu_IDRol === 2 || user.usu_IDRol === 5">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label>FECHA DESDE</label>
                                <input formControlName="fechaDesde" class="form-control" type="date" [max]="maxDate" matTooltip="Seleccionar fecha desde" matTooltipPosition="above">
                            </div>
                            <div class="col-md-6">
                                <label>FECHA HASTA</label>
                                <input formControlName="fechaHasta" class="form-control" type="date" [max]="maxDate" matTooltip="Seleccionar fecha hasta" matTooltipPosition="above">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label>DNI</label>
                                <input (keypress)="validarIngreso($event)" formControlName="dni" [(ngModel)]="inputDNI" class="form-control" type="text" placeholder="DNI" maxlength="8">
                            </div>
                            <div class="col-md-6">
                                <label>CODIGO</label>
                                <input (keypress)="validarIngreso($event)" formControlName="codigo" [(ngModel)]="inputCodigo" class="form-control" type="text" placeholder="Código reclamo">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label>AREA DE SERVICIO</label>
                                <select (change)="cargarDDLTipoReclamo()" formControlName="areaServicio" [(ngModel)]="ddlArServ" class="form-control" placeholder="Seleccione Area de Servicio">
                                    <option disabled value="">Seleccione Área de Servicio...</option>
                                    <option *ngFor="let item of arrArServ" [value]="item.arServ_IDAreaServicio">
                                        {{ item.arServ_nombre }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="ddlBarrio">BARRIO</label><br>
                                <select formControlName="barrio" class="form-control" [(ngModel)]="ddlBar" placeholder="Seleccione Barrio">
                                    <option disabled value="">Seleccione Barrio...</option>
                                    <option *ngFor="let item of arrBarrio" [value]="item.bar_IDBarrio">
                                        {{ item.bar_nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <button (click)="selectReclamo()" class="btn btn-block btnPrimario myBtnCard">
                            Consultar <i class="fa fa-fw fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="idTableConsulta" style="visibility: hidden;">
    <div *ngIf="user.usu_IDRol === 2 || user.usu_IDRol === 5">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
        <p>Para consultar un reclamo ingrese cualquier dato referido al mismo, ya sea código, fecha de alta, reclamo, dirección, etc.</p>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="rec_codigo">
            <th mat-header-cell *matHeaderCellDef>Código</th>
            <td mat-cell *matCellDef="let element">{{ element.rec_codigo }}</td>
        </ng-container>

        <ng-container matColumnDef="rec_fechaAlta">
            <th mat-header-cell *matHeaderCellDef style="width: 120px;">
                Fecha Alta
            </th>
            <td mat-cell *matCellDef="let element">{{ element.rec_fechaAlta }}</td>
        </ng-container>

        <ng-container matColumnDef="arServ_nombre">
            <th mat-header-cell *matHeaderCellDef>Area Servicio</th>
            <td mat-cell *matCellDef="let element">{{ element.arServ_nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="tipRec_nombre">
            <th mat-header-cell *matHeaderCellDef style="width: 300px;">Reclamo</th>
            <td mat-cell *matCellDef="let element">{{ element.tipRec_nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="rec_direccion">
            <th mat-header-cell *matHeaderCellDef>Dirección</th>
            <td mat-cell *matCellDef="let element">{{ element.rec_direccion }}</td>
        </ng-container>

        <ng-container matColumnDef="bar_nombre">
            <th mat-header-cell *matHeaderCellDef style="width: 200px;">Barrio</th>
            <td mat-cell *matCellDef="let element">{{ element.bar_nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="Ver">
            <th mat-header-cell *matHeaderCellDef>Ver</th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button (click)="verEstados(element)" color="primary" matTooltip="Detalle del Reclamo" matTooltipPosition="below">
                    <i class="material-icons">remove_red_eye</i>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>