<div class="container myAnimated myFast myFadeIn">
    <div class="divAyuda">
        <label>¿No sabés como consultar tu Reclamo?</label>
        <a [routerLink]="'/ayuda-consultar-reclamo'"> Haz click aquí</a>
    </div>
    <div class="card card-register mx-auto mt-3 myBorderCard">
        <div class="card-header myCardHeader">Consultar Reclamo</div>
        <div class="card-body">
            <form [formGroup]="frmConsultarReclamo">
                <div *ngIf="user.usu_IDRol === 1">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-5">
                                <mat-form-field>
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ingrese algún dato del Reclamo">
                                </mat-form-field>
                            </div>
                            <div class="lblCampoObligatorio">
                                Para consultar un reclamo ingrese cualquier dato referido al mismo, ya sea código, fecha de alta, reclamo, dirección, etc.
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="user.usu_IDRol === 2 || user.usu_IDRol === 5">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-4">
                                <label>DNI*</label>
                                <input id="txtDNI" (keypress)="validarIngreso($event)" formControlName="dni" class="form-control" type="text" placeholder="Ingrese DNI" minlength="8" maxlength="8">
                            </div>
                            <div class="ml-2"></div>
                            <div class="col-md-5">
                                <button [disabled]="!frmConsultarReclamo.valid" (click)="consultarReclamo()" class="btn btn-block btnPrimario myBtnCard btnConsultar">
                                    Buscar <i class="fa fa-fw fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <br>
                        <div class="lblCampoObligatorio">
                            *Campos obligatorios
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="idTableConsulta" style="visibility: hidden;">
    <div *ngIf="user.usu_IDRol === 2 || user.usu_IDRol === 5">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ingrese algún dato del Reclamo">
        </mat-form-field>
        <p class="lblCampoObligatorio">Para consultar un reclamo ingrese cualquier dato referido al mismo, ya sea código, fecha de alta, reclamo, dirección, etc.</p>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="rec_codigo">
            <th mat-header-cell *matHeaderCellDef>Código</th>
            <td mat-cell *matCellDef="let element">{{ element.rec_codigo }}</td>
        </ng-container>

        <ng-container matColumnDef="rec_fechaAlta">
            <th mat-header-cell *matHeaderCellDef style="width: 120px;">
                Fecha Alta
            </th>
            <td mat-cell *matCellDef="let element">{{ element.rec_fechaAlta }}</td>
        </ng-container>

        <ng-container matColumnDef="arServ_nombre">
            <th mat-header-cell *matHeaderCellDef>Area Servicio</th>
            <td mat-cell *matCellDef="let element">{{ element.arServ_nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="tipRec_nombre">
            <th mat-header-cell *matHeaderCellDef style="width: 300px;">Reclamo</th>
            <td mat-cell *matCellDef="let element">{{ element.tipRec_nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="rec_direccion">
            <th mat-header-cell *matHeaderCellDef>Dirección</th>
            <td mat-cell *matCellDef="let element">{{ element.rec_direccion }}</td>
        </ng-container>

        <ng-container matColumnDef="bar_nombre">
            <th mat-header-cell *matHeaderCellDef style="width: 200px;">Barrio</th>
            <td mat-cell *matCellDef="let element">{{ element.bar_nombre }}</td>
        </ng-container>

        <ng-container matColumnDef="Ver">
            <th mat-header-cell *matHeaderCellDef>Ver</th>
            <td mat-cell *matCellDef="let element">
                <button mat-flat-button (click)="verEstados(element)" color="primary" matTooltip="Detalle del Reclamo" matTooltipPosition="below">
                    <i class="material-icons">remove_red_eye</i>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>