<div class="container myAnimated myFadeIn">
    <hr>
    <h3>¿Cómo registrar un Reclamo?</h3>
    <div class="text-justify">
        1) Dirígase a la sección <b>Reclamo > Registrar</b> e ingrese los datos solicitados en el orden en que aparecen (area de servicio, reclamo, ubicación, etc).
        <br><br> Note que tiene 2 formas de ingresar la ubicación del reclamo: mediante el mapa de Google o manualmente.
        <ul>
            <li>Mediante el mapa de Google:</li>
            1. Busque en el mapa la ubicación exacta del lugar donde desea realizar el Reclamo.
            <br> 2. Haga click en el marcador (<i class="ti-location-pin"></i>) y arrástrelo a la ubicación que realizó anteriormente.
            <br> 3. Seleccione el Barrio correspondiente y Calle. El sistema automáticamente mostrará la Altura.
        </ul>
        <br>
        <div align="center">
            <img src="../../../assets/images/myImages/datosReclamosMap.PNG">
        </div>
        <br>
        <ul>
            <li>Manualmente:</li>
            1. Debe seleccionar barrio y calle correspondiente e ingresar la altura en la que se encuentra el Reclamo a realizar.
        </ul>
        <br>
        <div align="center">
            <img src="../../../assets/images/myImages/datosReclamo.PNG">
        </div>
        <br> 2) Una vez ingresados los datos obligatorios (*), presionando el botón "Siguiente", el sistema valida que el Reclamo que intenta registrar no halla sido ingresado con anterioridad. En caso de que ya se encuentre registrado, le aparecerá el
        siguiente mensaje:
        <br><br>
        <div align="center">
            <img src="../../../assets/images/myImages/validarReclamo.png">
        </div>
        <br> Caso contrario, si el Reclamo no ha sido ingresado con anterioridad, se le mostrará un resumen con los datos del mismo:
        <br><br>
        <div align="center">
            <img src="../../../assets/images/myImages/resumenReclamo.PNG">
        </div>
        <br> 3) Antes de enviar el Reclamo, corrobore que los datos ingresados sean correctos, ya que una vez registrado el mismo, sus datos no pueden modificarse. Tilde el casillero "Confirmo haber revisado los datos del reclamo" y presione "Enviar".
        <br><br>
        <div align="center">
            <img src="../../../assets/images/myImages/reclamoRegistrado.PNG">
        </div>
        <br> El sistema automáticamente envía le envía un correo electrónico con el código del Reclamo para su posterior consulta. Le recomendamos no borre este email para poder seguirlo paso a paso.
        <br><br>
        <b>*IMPORTANTE: Sólo puede enviarse un Reclamo por día, si intenta registrar más de uno, le aparecerá el siguiente mensaje:</b>
        <br><br>
        <div align="center">
            <img src="../../../assets/images/myImages/reclamoDiario.png">
        </div>
    </div>
    <hr>
    <h3>¿Cómo consultar un reclamo?</h3>
    <div class="text-justify">
        Para <b>consultar</b> un Reclamo, dirígase a la sección <b>Reclamo > Consultar</b>, e ingrese cualquier dato relacionado al mismo, ya sea código, area de servicio, reclamo, dirección, etc:
        <br><br>
        <div align="center">
            <img src="../../../assets/images/myImages/consultarReclamo.PNG">
        </div>
        <br> Presionando el botón en la columna "Ver" de algún Reclamo específico, podrá visualizar las actividades llevadas a cabo en el proceso de resolución, empezando desde la Generación de la Orden de Servicio hasta el cumplimiento del Reclamo en
        caso que haya podido resolverse.
    </div>
    <hr>
    <h3>Calificación de Reclamo</h3>
    <div class="text-justify">
        En caso de que su Reclamo haya sido resuelto, usted podrá darle una Calificación y un comentario, yendo a la sección <b>Reclamo > Consultar</b>, seleccione el Reclamo correspondiente en la columna "Ver" y presione el botón "Calificar reclamo":
        <br><br>
        <div align="center">
            <img src="../../../assets/images/myImages/calificarReclamo.PNG">
        </div>
        <br><br> Esto nos permitirá controlar la eficiencia y eficacia del trabajo realizado por las Áreas de Servicios e ir mejorando poco a poco para cumplir con el compromiso que tenemos con vos.
    </div>
</div>