<div class="container myAnimated myFadeIn">
    <hr>
    <h3>¿Cómo registrar un reclamo?</h3>
    <div class="text-justify">
        1) Dirígase a la sección <b>Reclamo > Registrar</b> e ingrese los datos solicitados en el orden en que aparecen (area de servicio, reclamo, ubicación, etc).
        <br><br> Note que tiene 2 formas de ingresar la ubicación del reclamo: mediante el mapa de Google o manualmente.
        <ul>
            <li>Mediante el mapa de Google:</li>
            1. En primer lugar, buscar en el mapa la ubicación exacta del lugar donde desea realizar el reclamo.
            <br> 2. En segundo lugar, hacer click en el marcador (<i class="ti-location-pin"></i>) y arrastrarlo a la ubicación que realizó anteriormente.
            <br> 3. Listo, ya tiene la ubicación de su reclamo.
        </ul>
        <br>
        <div align="center">
            <img src="../../../assets/images/myImages/datosReclamosMap.PNG">
        </div>
        <br>
        <ul>
            <li>Manualmente:</li>
            1. Debe seleccionar barrio y calle correspondiente e ingresar la altura en la que se encuentra el reclamo a realizar.
        </ul>
        <br>
        <div align="center">
            <img src="../../../assets/images/myImages/datosReclamo.PNG">
        </div>
        <br> 2) Presionando el botón "Siguiente" se le mostrará un resumen con los datos del reclamo y una estimación de tiempo en que será abordado y solucionado:
        <br><br>
        <div align="center">
            <img src="../../../assets/images/myImages/resumenReclamo.PNG">
        </div>
        <br> 3) Antes de enviar el reclamo, corrobore los datos y tilde el casillero "Confirmo haber revisado los datos del reclamo" y presione "Enviar". El reclamo se registrará y le aparecerá en pantalla un mensaje con el código del mismo, para su posterior
        consulta:
        <br><br>
        <div align="center">
            <img src="../../../assets/images/myImages/reclamoRegistrado.PNG">
        </div>
        <br> Una vez enviado el reclamo, se le envía un correo electrónico con el código del mismo para su resguardo, como aparece el mensaje en pantalla.
        <br><br>
        <b>*IMPORTANTE: tenga en cuenta siempre corroborar los datos antes de ser enviado, ya que no puede modificarse una vez registrado.</b>
    </div>
    <hr>
    <h3>¿Cómo consultar un reclamo?</h3>
    <div class="text-justify">
        Para <b>consultar</b> un reclamo, luego de haber registrado el mismo, se le otorgó un código el cual fue enviado a su casilla de correo para su posterior utilización en la consulta. Una vez que tenga el código a mano, dirígase a la sección
        <b>Reclamo > Consultar</b>:
        <br><br>
        <div align="center">
            <img src="../../../assets/images/myImages/consultarReclamo.PNG">
        </div>
        <br> Allí podrá visualizar todos sus reclamos realizados y en caso de optar por uno en particular, ingrese el código donde se lo solicita.
        <br><br> Presionando el botón en la columna "Ver" de algún reclamo específico, podrá visualizar las actividades llevadas a cabo en el proceso de resolución, empezando desde la generación de la orden de servicio hasta el cierre del reclamo en caso
        que haya podido resolverse.
    </div>
    <hr>
    <h3>Calificación de Reclamo</h3>
    <div class="text-justify">
        En caso de que su reclamo haya sido resuelto le solicitamos que nos deje una calificacón y no obligatoriamente un comentario, yendo a la sección <b>Reclamo > Consultar</b>, seleccione el reclamo correspondiente en la columna "Ver" y presione el
        botón "Calificar reclamo":
        <br><br>
        <div align="center">
            <img src="../../../assets/images/myImages/calificarReclamo.PNG">
        </div>
    </div>
    <!-- <hr> -->
    <!-- <h4>Areas de Servicio</h4>
        <div class="text-justify">
            Las areas de servicio son las entes encargadas de llevar a cabo las actividades necesarias para la solución de los reclamos. Cada una de estas areas, se encarga de resolver cierto tipo de reclamo. A continuación le mostramos las diversas secciones de
            cada area de servicio junto con su listado de reclamos correspondiente:
            <br><br>
        
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Alcantarillas
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Verificar alcantarilla</p>
                <p>Solicita alcantarilla</p>
                <p>Alcantarilla obstruida</p>
                <p>Desyuye de alcantarilla</p>
                <p>Reparar tubos de alcantarillado</p>
                <p>Verificar obstrucción de cuneta</p>
                <p>Solicita cuneteo alcantarilla</p>
                <p>Solicita limpieza de cuneta</p>
                <p>Desmalezar ochava</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Alumbrado Público
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Verificar lampara</p>
                <p>Verificar luces encendidas</p>
                <p>Verificar luces intermitentes</p>
                <p>Solicita protector de lampara</p>
                <p>Verificar farola de alumbrado público</p>
                <p>Verificar chispazos en cableado de alumbrado</p>
                <p>Solicita alumbrado publico</p>
                <p>Poste/Columna de Alumbrado Público caído o a punto de caer</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Arboles
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Recortar ramas muy altas con hidro</p>
                <p>Solicita recorte de ramas bajas</p>
                <p>Verificar poda sin autorización</p>
                <p>Retirar arbol caido</p>
                <p>Arbol caido o a punto de caer</p>
                <p>Verificar arbol con plagas</p>
                <p>Fumigar arbol</p>
                <p>Verificar arbol enfermo</p>
                <p>Verificar extracción de arbol sin autorizacion</p>
                <p>Retirar rama y/o tronco</p>
                <p>Solicitar recorte de raíces</p>
                <p>Solicita autorización de poda</p>
                <p>Solicita extracción de arboles</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Boca de Tormenta
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Boca de tormenta obstruida</p>
                <p>Reparar boca de tormenta</p>
                <p>Boca de tormenta sin rejilla de protección</p>
                <p>Solicita boca de tormenta</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Calles
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Pozo en calle de tierra</p>
                <p>Hundimiento de calle pavimentada</p>
                <p>Solicita relleno de calle pavimentada</p>
                <p>Solicita enarenado</p>
                <p>Solicita cordón vereda</p>
                <p>Arreglar cordón vereda</p>
                <p>Solicita arreglo de bache/s</p>
                <p>Bacheo</p>
                <p>Arreglar paño pavimento</p>
                <p>Arreglar cordón cuneta</p>
                <p>Solicita vallado</p>
                <p>Solicita lomo de burro</p>
                <p>Intimar a retirar basura de vía pública</p>
                <p>Intimar por obstrucción de vía pública</p>
                <p>Salida de agua</p>
                <p>Solicita estacionamiento exclusivo</p>
                <p>Hundimiento en calle de tierra</p>
                <p>Verificar parquimetro</p>
                <p>Solicita arreglo de calle de tierra</p>
                <p>Hundimiento de calles pavimentadas por cloacas</p>
                <p>Hundimiento de calles de tierra por cloacas</p>
                <p>Verificar tapa de cámara de inspección</p>
                <p>Solicita relleno de calle de tierra</p>
                <p>Calle de tierra inundada</p>
                <p>Calle de pavimento inundada</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Cunetas
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Solicita desyuye de cuneta</p>
                <p>Solicita cuneteo</p>
                <p>Obstrucción de cuneta</p>
                <p>Hacer cuneteo y alcantarillado</p>
                <p>Solicita limpieza de cunetas</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Espacios Públicos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Micro-basural</p>
                <p>Solicita limpieza de espacio público</p>
                <p>Solicita seguridad en espacio público</p>
                <p>Solicita limpieza de fuente en espacio público</p>
                <p>Solicita mantenimiento de espacios públicos</p>
                <p>Arreglo y/o mantenimiento de juegos infantiles en espacio público</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Nomencladores
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Solicita nomenclador</p>
                <p>Nomenclador caído o a punto de caer</p>
                <p>Nomenclador ilegible</p>
                <p>Verificar nomenclador</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Semáforos
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Solicita instalación de semáforo</p>
                <p>Semáforo no funciona</p>
                <p>Verificar luz de paso para peaton</p>
                <p>Verificar columna de semáforo caída o a punto de caer</p>
                <p>Verificar lampara de semáforo</p>
                <p>Mantenimiento de semáforos</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Señaletica
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Marcar con pintura ochavas</p>
                <p>Marcar con pintura senda peatonal</p>
                <p>Marcar con pintura estacionamiento</p>
                <p>Verificar carteleria indicativa de señalización vial</p>
                <p>Colocar carteleria de estacionamiento</p>
                <p>Colocar reductor de velocidad</p>
                <p>Verificar cartelería vial caída o a punto de caer</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Veredas
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Intimar a desmalezar vereda</p>
                <p>Vereda en malas condiciones</p>
                <p>Solicita instalación de rampa para discapacitados</p>
                <p>Intimar a colocar canasto contenedor de residuos</p>
                <p>Intimar por obstrucción de vereda</p>
                <p>Intimar a retirar escombros y/o materiales de construcción</p>
                <p>Intimar a retirar basura y/o áridos en general</p>
            </mat-expansion-panel>
        </div> -->
</div>