<div class="container myAnimated myFast myFadeIn">
    <div class="divAyuda">
        <label>¿No sabés como registrar tu Reclamo?</label>
        <a [routerLink]="'/ayuda-registrar-reclamo'"> Haz click aquí</a>
    </div>
    <div class="card card-register mx-auto mt-3 myBorderCard">
        <div class="card-header myCardHeader">Datos del Reclamo</div>
        <div class="card-body">
            <form [formGroup]="frmGenerarReclamo">

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>AREA DE SERVICIO*</label>
                            <select (change)="cargaSelectTipoReclamo()" formControlName="areaServicio" class="form-control" placeholder="Seleccione Area de Servicio">
                                <option value="" disabled>Seleccione Área de Servicio...</option>
                                <option *ngFor="let item of arrArServ" [value]="item.arServ_IDAreaServicio">
                                    {{ item.arServ_nombre }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>RECLAMO*</label>
                            <select id="ddlReclamo" (change)="selectTipoReclamo()" formControlName="tipoReclamo" [(ngModel)]="TipoReclamoID" class="form-control">
                                <option value="" disabled>Seleccione Reclamo</option>
                                <option *ngFor="let item of arrTipRec" [value]="item.tipRec_IDTipoReclamo">
                                    {{ item.tipRec_nombre }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>BARRIO*</label>
                    <select (change)="cargaSelectCalle()" formControlName="barrio" class="form-control" placeholder="Seleccione Barrio">
                        <option value="" disabled>Seleccione Barrio...</option>
                        <option *ngFor="let item of arrBarrio" [value]="item.bar_IDBarrio">
                            {{ item.bar_nombre }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label>CALLE*</label>
                            <select #ddlCalle id="ddlCalle" (change)="selectCalle()" formControlName="calle" [(ngModel)]="CalleID" class="form-control" placeholder="Seleccione Calle">
                                <option value="" disabled>Seleccione Calle</option>
                                <option *ngFor="let item of arrCalle" [value]="item.cal_IDCalle">
                                    {{ item.cal_nombre }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label>ALTURA*</label>
                            <input (keypress)="validarIngreso($event)" formControlName="altura" [(ngModel)]="altura" class="form-control" type="text" placeholder="Ingrese altura" maxlength="4" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <label>OBSERVACIONES</label>
                        <textarea formControlName="observaciones" [(ngModel)]="observacion" class="form-control" placeholder="Detalle su reclamo. Puede especificar datos puntuales, referencias, etc" cols="100" rows="3"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="text-center lblCampoObligatorio">
                                *Campos obligatorios
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button mat-raised-button [disabled]="!frmGenerarReclamo.valid" (click)="validarReclamo()" color="primary" matTooltip="Resumen del Reclamo" matTooltipPosition="left" style="float: right;">
                                Siguiente <i class="fa fa-fw fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>