<div class="myAnimated myFadeIn">
    <img src="../../../assets/images/myImages/img_vmInicio.png" style="width: 100%;" />

    <br />
    <br />

    <!-- INTRODUCCION -->
    <div class="container-fluid">
        <p class="p-Inicio">
            DigitalClaim es una nueva herramienta web a disposición del vecino, con la que podrá realizar reclamos de todo tipo. Una vez registrado su reclamo, será derivado a un área de servicio correspondiente para ser resuelto. A medida que se valla trabajando
            sobre el mismo, se podrá consultar su estado y recibirá notificaciones acerca de las actividades llevadas a cabo. Ésto transmite la certeza y seguridad de que nos vamos a ocupar, y empuja al municipio a trabajar profesionalmente por cumplirlos.
            <br />
        </p>

        <div class="p-Lema">Juntos, podemos hacer que la ciudad, sea un lugar mejor.</div>
        <br />
        <div align="center">
            <img src="../../../assets/images/myImages/MunicipalidadVM.png" class="imgMuniVM" />
        </div>

    </div>

    <hr />

    <!-- PROCESO DE UN RECLAMO -->
    <div>
        <h2 class="title clr text-center mb-md-4  mb-sm-4 mb-5">El proceso de un Reclamo</h2>
    </div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/images/myImages/ProcesoReclamo/IngresoReclamo.jpg" class="d-block w-100 carousel-ProcesoReclamo">
                <div class="carousel-caption d-none d-md-block">
                    <h4 class="lblCarousel">Envío</h4>
                    <p class="p-Carousel">Ingresando todos los datos solicitados del reclamo</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/myImages/ProcesoReclamo/ProcesoDerivacion.jpg" class="d-block w-100 carousel-ProcesoReclamo">
                <div class="carousel-caption d-none d-md-block">
                    <h4 class="lblCarousel">Derivación</h4>
                    <p class="p-Carousel">El reclamo será derivado al área de servicio correspondiente</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/myImages/ProcesoReclamo/TrabajoEnte.jpg" class="d-block w-100 carousel-ProcesoReclamo">
                <div class="carousel-caption d-none d-md-block">
                    <h4 class="lblCarousel">Abordaje del reclamo</h4>
                    <p class="p-Carousel">El área de servicio se encargará de solucionar el problema</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/myImages/ProcesoReclamo/Auditorias.jpg" class="d-block w-100 carousel-ProcesoReclamo">
                <div class="carousel-caption d-none d-md-block">
                    <h4 class="lblCarousel">Auditorías</h4>
                    <p class="p-Carousel">Se generarán auditorías para que pueda verificar la solución de su reclamo</p>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <br />
    <hr />

    <!-- FUNCIONES -->
    <div>
        <h2 class="title clr text-center mb-md-4  mb-sm-4 mb-5">Funciones</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card myCard">
                <div class="cardIcon" align="center">
                    <span class="fa fa-3x fa-clipboard" aria-hidden="true"></span>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center">Historial de Reclamo</h3>
                    <p class="card-text text-justify text-justify">Podrá consultar las actividades llevadas a cabo en el proceso de su Reclamo, desde que lo envía, hasta que el mismo se cierra.</p>
                </div>
            </div>

            <div class="card myCard">
                <div class="cardIcon" align="center">
                    <span class="fa fa-4x fa-mobile" aria-hidden="true"></span>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center">App Móvil</h3>
                    <p class="card-text text-justify">
                        Podrá realizar y consultar su reclamo desde cualquier dispositivo móvil y de la manera más sencilla, descargandose nuestra app DigitalClaim desde Play Store (únicamente plataforma Android).
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card myCard">
                <div class="cardIcon" align="center">
                    <span class="fa fa-3x fa-envelope" aria-hidden="true"></span>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center">Notificaciones</h3>
                    <p class="card-text text-justify">Será notificado vía email para mantenerlo al tanto del proceso de su Reclamo a medida que se vallan realizando las actividades correspondientes.</p>
                </div>
            </div>

            <div class="card myCard">
                <div class="cardIcon" align="center">
                    <span class="fa fa-3x fa-bar-chart-o" aria-hidden="true"></span>
                </div>
                <div class="card-body">
                    <h3 class="card-title text-center">Auditorías</h3>
                    <p class="card-text text-justify">Detallaremos los reclamos resueltos para que pueda corrobar la resolución de los mismos.</p>
                </div>
            </div>
        </div>
    </div>