<h3>¿Cómo Visualizar un Reporte?</h3>
<div class="text-justify">
    Para visualizar un reporte, dirigirse al menú lateral izquierdo, sección seleccionar la opción “Reportes”:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/VisualizarReporteMunicipal/visualizarReporteMunicipal1.png">
    </div>
    <br> Se abrirá un forumlario que permitirá visualizar un reporte. El usuario debe ingresar una fecha desde y hasta, seleccionar el tipo de reporte a mostrar e ingresar un valor numérico en el campo “Ranking”, que devolverá los datos con cierta longitud.
    Luego se habilita el botón “Ver Reporte”, que al presionarlo nos muestra un gráfico con datos según el filtro aplicado:
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/VisualizarReporteMunicipal/visualizarReporteMunicipal2.png">
    </div>
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/VisualizarReporteMunicipal/visualizarReporteMunicipal3.png">
    </div>
</div>