<div class="container myAnimated myFast myFadeIn">
    <div class="card card-register mx-auto mt-5">

        <div class="card-header myCardHeader">Contacto</div>
        <div class="card-body">

            <form [formGroup]="frmContacto">
                <div class="form-group">
                    <label>Nombre y Apellido</label>
                    <input formControlName="nombreCompleto" type="text" class="form-control" disabled>
                </div>

                <div class="form-group">
                    <label>Teléfono</label>
                    <input formControlName="telefono" type="number" class="form-control" disabled>
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input formControlName="email" type="email" class="form-control" disabled>
                </div>

                <div class="form-group">
                    <label>Mensaje</label>
                    <div class="form-row">
                        <textarea formControlName="mensaje" cols="100" rows="3" class="form-control" placeholder="Dejanos tu consulta"></textarea>
                    </div>
                </div>

                <button (click)="registrarConsulta()" [disabled]="!frmContacto.valid" class="btn btnPrimario" style="float: right;">
                    Enviar
                </button>
            </form>

        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-6 form-group">
        <div class="container text-center">
            <h3>¿Necesita más información?</h3>
            <br>
            <h6 style="float: left;">Ante cualquier duda comuníquese con nosotros:</h6>
        </div>

        <br /><br>

        <div class="container i-Info">
            <p>
                <i class="mdi mdi-phone"></i> 353-4528529 | Celular: +54 353-4297389.
            </p>
            <p>
                <i class="mdi mdi-email"></i>
                <a class="emailInfo" href="https://mail.google.com/mail/u/0/?zx=shuclfvuvdi8#inbox?compose=new" target="_blank"> infoDigitalClaim@gmail.com</a>
            </p>
            <p>
                <i class="mdi mdi-map-marker"></i> Bv. Sarmiento 1850, Villa María, Córdoba, Argentina.
            </p>
        </div>
    </div>

    <div class="col-md-6">
        <img class="img-AtencionVecino" src="../../../assets/images/myImages/AtencionVecino.jpg" />
    </div>
</div>
<br />