<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>
        <form [formGroup]="frmDatosReclamante">
            <!-- DATOS CIUDADANO -->
            <ng-template matStepLabel>DATOS DEL CIUDADANO</ng-template>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label>DNI*</label>
                        <input (keypress)="validarIngreso($event)" formControlName="dni" class="form-control" minlength="8" maxlength="8" required>
                        <!-- <mat-error *ngIf="!dni.invalid">El DNI debe contener 8 números</mat-error> -->
                    </div>
                    <div class="col-md-6">
                        <label>NOMBRE*</label>
                        <input formControlName="nombre" class="form-control" required>
                        <!-- <mat-error *ngIf="nombre.invalid">Ingrese Nombre</mat-error> -->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label>APELLIDO*</label>
                        <input formControlName="apellido" class="form-control" required>
                        <!-- <mat-error *ngIf="apellido.invalid">Ingrese Apellido</mat-error> -->
                    </div>
                    <div class="col-md-6">
                        <label>TELEFONO*</label>
                        <input (keypress)="validarIngreso($event)" formControlName="telefono" class="form-control" minlength="7" maxlength="10" required>
                        <!-- <mat-error *ngIf="telefono.invalid">Ingrese N° de teléfono</mat-error> -->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label>EMAIL*</label>
                        <input formControlName="email" class="form-control" required>
                        <!-- <mat-error *ngIf="email.invalid">{{mostrarErrorEmail()}}</mat-error> -->

                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="text-center lblCampoObligatorio">
                            *Campos obligatorios
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="float: right;">
                            <button (click)="validarUsuario()" [disabled]="!frmDatosReclamante.valid" mat-raised-button matStepperNext color="primary" matTooltip="Datos del Reclamo" matTooltipPosition="below">
                                Siguiente <i class="fa fa-fw fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </mat-step>

    <!-- DATOS DEL RECLAMO -->
    <mat-step>
        <form [formGroup]="frmGenerarReclamo">
            <ng-template matStepLabel>DATOS DEL RECLAMO</ng-template>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label>AREA DE SERVICIO*</label>
                        <mat-select (selectionChange)="cargaSelectTipoReclamo()" formControlName="areaServicio" class="form-control" placeholder="Seleccione Area de Servicio">
                            <mat-option *ngFor="let item of arrArServ" [value]="item.arServ_IDAreaServicio">
                                {{ item.arServ_nombre }}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="col-md-6">
                        <label>RECLAMO*</label>
                        <mat-select id="ddlReclamo" (selectionChange)="selectTipoReclamo()" formControlName="tipoReclamo" [(ngModel)]="TipoReclamoID" class="form-control">
                            <mat-option value="" disabled>Seleccione Reclamo</mat-option>
                            <mat-option *ngFor="let item of arrTipRec" [value]="item.tipRec_IDTipoReclamo">
                                {{ item.tipRec_nombre }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>¿INGRESAR UBICACION MEDIANTE EL MAPA?*</label>
                <mat-select (selectionChange)="ubicacionMapa()" formControlName="ubicacion" [(ngModel)]="mapVisibility" class="form-control" placeholder="Seleccione opción">
                    <mat-option *ngFor="let item of arrOpcion" [value]="item.stOpcion">
                        {{ item.opcion }}
                    </mat-option>
                </mat-select>
            </div>

            <div [hidden]="mapVisibility === 'hidden'">
                <agm-map id="googleMap" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map>
            </div>

            <div class="form-group">
                <label>BARRIO*</label>
                <mat-select (selectionChange)="cargaSelectCalle()" formControlName="barrio" class="form-control" placeholder="Seleccione Barrio">
                    <mat-option *ngFor="let item of arrBarrio" [value]="item.bar_IDBarrio">
                        {{ item.bar_nombre }}
                    </mat-option>
                </mat-select>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label>CALLE*</label>
                        <mat-select #ddlCalle id="ddlCalle" (selectionChange)="selectCalle()" formControlName="calle" [(ngModel)]="CalleID" class="form-control" placeholder="Seleccione Calle">
                            <mat-option *ngFor="let item of arrCalle" [value]="item.cal_IDCalle">
                                {{ item.cal_nombre }}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="col-md-6">
                        <label>ALTURA*</label>
                        <input (keypress)="validarIngreso($event)" formControlName="altura" [(ngModel)]="altura" class="form-control" type="text" placeholder="Ingrese altura" maxlength="4" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <label>CANAL*</label>
                    <mat-select (selectionChange)="selectCanal()" formControlName="canal" [(ngModel)]="CanalID" class="form-control" placeholder="Seleccione Canal de Comunicación">
                        <mat-option *ngFor="let item of lstCanal" [value]="item.can_IDCanal">
                            {{ item.can_nombre }}
                        </mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <label>OBSERVACIONES</label>
                    <textarea formControlName="observaciones" [(ngModel)]="observacion" class="form-control" placeholder="Detalle su reclamo. Puede especificar datos puntuales, referencias, etc" cols="100" rows="3"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <button mat-raised-button matStepperPrevious color="primary" matTooltip="Datos del Ciudadano" matTooltipPosition="below">
                                        Anterior <i class="fa fa-fw fa-chevron-left"></i>
                                    </button>
                    </div>
                    <div class="col-md-6">
                        <button (click)="validarReclamo()" [disabled]="!frmGenerarReclamo.valid" mat-raised-button color="primary" matStepperNext matTooltip="Resumen del Reclamo" matTooltipPosition="below" style="float: right;">
                                        Siguiente <i class="fa fa-fw fa-chevron-right"></i>
                                    </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="text-center lblCampoObligatorio">
                        *Campos obligatorios
                    </div>
                </div>
            </div>
        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>RESUMEN DEL RECLAMO</ng-template>

        <div class="container myAnimated myFadeIn">
            <div class="card card-register mx-auto mt-3">
                <div class="card-header myCardHeader">Resumen</div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- <div *ngIf="user.usu_IDRol === 1">
                                        <div class="form-row">
                                            <label><strong>Reclamante:</strong></label>
                                            <div class="ml-1"></div>
                                            <label>{{ user.usu_nombre + ' ' + user.usu_apellido }}</label>
                                        </div>
                                    </div>

                                    <div id="divFecha" class="form-row">
                                        <label><strong>Fecha:</strong></label>
                                        <div class="ml-1"></div>
                                        <label>{{ fechaHoy | date: 'dd/MM/yyyy' }}</label>
                                    </div>

                                    <div class="form-row">
                                        <label><strong>Area de Servicio:</strong></label>
                                        <div class="ml-1"></div>
                                        <label>{{ objRec.areaServicio.arServ_nombre }}</label>
                                    </div>

                                    <div class="form-row">
                                        <label><strong>Reclamo:</strong></label>
                                        <div class="ml-1"></div>
                                        <label>{{ objRec.tipoReclamo.tipRec_nombre }}</label>
                                    </div>

                                    <div class="form-row">
                                        <label><strong>Dirección:</strong></label>
                                        <div class="ml-1"></div>
                                        <label>{{ objRec.calle.cal_nombre + ' ' + objRec.altura}}</label>
                                    </div>

                                    <div class="form-row">
                                        <label><strong>Barrio:</strong></label>
                                        <div class="ml-1"></div>
                                        <label>{{ objRec.barrio.bar_nombre }}</label>
                                    </div>

                                    <div *ngIf="user.usu_IDRol === 2 || user.usu_IDRol === 5" class="form-row">
                                        <label><strong>Canal:</strong></label>
                                        <div class="ml-1"></div>
                                        <label>{{ objRec.canal.can_nombre }}</label>
                                    </div>

                                    <div class="form-row">
                                        <label><strong>Observaciones:</strong></label>
                                        <div class="ml-1"></div>
                                        <label *ngIf="objRec.Observacion !== ''"> {{ objRec.observaciones }} </label>
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <div class="form-group lblMensajeEnvio">
                            *Antes de enviar el reclamo verifique que los datos sean correctos. Una vez enviado, no pueden modificarse.
                        </div>

                        <div class="lblConfirmar">
                            <mat-checkbox name="cbxConfirmar" [(ngModel)]="estado" class="example-margin" color="primary">Confirmo haber revisado los datos del reclamo</mat-checkbox>
                        </div>

                        <br /><br>

                        <div class="row">
                            <div class="col-md-6">
                                <button mat-raised-button matStepperPrevious type="button">
                                    Cancelar
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button mat-raised-button (click)="registrarReclamo()" [disabled]="!estado">
                                    Enviar <i class="mdi mdi-share"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-step>
</mat-horizontal-stepper>