<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step>
        <form [formGroup]="frmDatosReclamante">
            <!-- DATOS CIUDADANO -->
            <ng-template matStepLabel>DATOS DEL CIUDADANO</ng-template>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label>DNI*</label>
                        <input (keypress)="validarIngreso($event)" ng-blur="validarUsuario()" formControlName="dni" class="form-control" minlength="8" maxlength="8">
                        <!-- <mat-error *ngIf="!dni.invalid">El DNI debe contener 8 números</mat-error> -->
                    </div>
                    <div class="col-md-6">
                        <label>NOMBRE*</label>
                        <input formControlName="nombre" class="form-control">
                        <!-- <mat-error *ngIf="nombre.invalid">Ingrese Nombre</mat-error> -->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label>APELLIDO*</label>
                        <input formControlName="apellido" class="form-control">
                        <!-- <mat-error *ngIf="apellido.invalid">Ingrese Apellido</mat-error> -->
                    </div>
                    <div class="col-md-6">
                        <label>TELEFONO*</label>
                        <input (keypress)="validarIngreso($event)" formControlName="telefono" class="form-control" minlength="7" maxlength="10">
                        <!-- <mat-error *ngIf="telefono.invalid">Ingrese N° de teléfono</mat-error> -->
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label>EMAIL*</label>
                        <input formControlName="email" class="form-control">
                        <!-- <mat-error *ngIf="email.invalid">{{mostrarErrorEmail()}}</mat-error> -->

                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="text-center lblCampoObligatorio">
                            *Campos obligatorios
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="float: right;">
                            <button (click)="validarUsuario()" [disabled]="!frmDatosReclamante.valid" mat-raised-button matStepperNext color="primary" matTooltip="Datos del Reclamo" matTooltipPosition="below">
                                Siguiente <i class="fa fa-fw fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </mat-step>

    <!-- DATOS DEL RECLAMO -->
    <mat-step>
        <form [formGroup]="frmDatosReclamo">
            <ng-template matStepLabel>DATOS DEL RECLAMO</ng-template>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label>AREA DE SERVICIO*</label>
                        <mat-select (selectionChange)="cargaSelectTipoReclamo()" formControlName="areaServicio" class="form-control" placeholder="Seleccione Area de Servicio">
                            <mat-option *ngFor="let item of arrArServ" [value]="item.arServ_IDAreaServicio">
                                {{ item.arServ_nombre }}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="col-md-6">
                        <label>RECLAMO*</label>
                        <mat-select id="ddlReclamo" (selectionChange)="selectTipoReclamo()" formControlName="tipoReclamo" [(ngModel)]="TipoReclamoID" class="form-control">
                            <mat-option value="" disabled>Seleccione Reclamo</mat-option>
                            <mat-option *ngFor="let item of arrTipRec" [value]="item.tipRec_IDTipoReclamo">
                                {{ item.tipRec_nombre }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>¿INGRESAR UBICACION MEDIANTE EL MAPA?*</label>
                <mat-select (selectionChange)="ubicacionMapa()" formControlName="ubicacion" [(ngModel)]="mapVisibility" class="form-control" placeholder="Seleccione opción">
                    <mat-option *ngFor="let item of arrOpcion" [value]="item.stOpcion">
                        {{ item.opcion }}
                    </mat-option>
                </mat-select>
            </div>

            <div [hidden]="mapVisibility === 'hidden'">
                <agm-map id="googleMap" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map>
            </div>

            <div class="form-group">
                <label>BARRIO*</label>
                <mat-select (selectionChange)="cargaSelectCalle()" formControlName="barrio" class="form-control" placeholder="Seleccione Barrio">
                    <mat-option *ngFor="let item of arrBarrio" [value]="item.bar_IDBarrio">
                        {{ item.bar_nombre }}
                    </mat-option>
                </mat-select>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label>CALLE*</label>
                        <mat-select #ddlCalle id="ddlCalle" (selectionChange)="selectCalle()" formControlName="calle" [(ngModel)]="CalleID" class="form-control" placeholder="Seleccione Calle">
                            <mat-option *ngFor="let item of arrCalle" [value]="item.cal_IDCalle">
                                {{ item.cal_nombre }}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="col-md-6">
                        <label>ALTURA*</label>
                        <input (keypress)="validarIngreso($event)" formControlName="altura" [(ngModel)]="altura" class="form-control" type="text" placeholder="Ingrese altura" maxlength="4" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <label>CANAL*</label>
                    <mat-select (selectionChange)="selectCanal()" formControlName="canal" [(ngModel)]="CanalID" class="form-control" placeholder="Seleccione Canal de Comunicación">
                        <mat-option *ngFor="let item of lstCanal" [value]="item.can_IDCanal">
                            {{ item.can_nombre }}
                        </mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <label>OBSERVACIONES</label>
                    <textarea formControlName="observaciones" [(ngModel)]="observacion" class="form-control" placeholder="Detalle su reclamo. Puede especificar datos puntuales, referencias, etc" cols="100" rows="3"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <button mat-raised-button matStepperPrevious color="primary" matTooltip="Datos del Ciudadano" matTooltipPosition="below">
                                        Anterior <i class="fa fa-fw fa-chevron-left"></i>
                                    </button>
                    </div>
                    <div class="col-md-6">
                        <button (click)="validarReclamo()" [disabled]="!frmDatosReclamo.valid" mat-raised-button color="primary" matTooltip="Resumen del Reclamo" matTooltipPosition="below" style="float: right;">
                                        Siguiente <i class="fa fa-fw fa-chevron-right"></i>
                                    </button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <div class="text-center lblCampoObligatorio">
                        *Campos obligatorios
                    </div>
                </div>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>