<h3>Dominios</h3>
<div class="text-justify">
    En este apartado se lleva a cabo la administración (altas, consultas y modificaciones) de los diferentes dominios dentro del sistema, desde áreas de servicio, barrios, calles, hasta usuarios y sus roles. Como ejemplo se toma el dominio “Área de Servicio”,
    y el resto de los mismos contemplarán la misma metodología de funcionamiento. Para ingresar al dominio deseado, en este caso Área de Servicio, dirigirse al menú lateral izquierdo, en la sección “Dominio” seleccionar la opción “Área de Servicio”:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/DominioMunicipal/dominioMunicipal1.png">
    </div>
    <br> El sistema automáticamente lista todas las áreas de servicios registradas y mostrará la siguiente pantalla:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/DominioMunicipal/dominioMunicipal2.png">
    </div>
    <br> En la parte izquierda, se cuenta con una grilla donde se listan todas las áreas de servicios disponibles. En la parte derecha un formulario para dar de alta una nueva área de servicio o para visualizar los datos de una existente. Para dar de
    alta una nueva área de servicio, ingresar los datos especificados en el formulario, posteriormente el sistema habilita el botón “Guardar” para dar de alta el registro:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/DominioMunicipal/dominioMunicipal3.png">
    </div>
    <br> En el extremo inferior derecho, cuenta con un botón con la letra “X” el cual le permite borrar todos los datos ingresados de una sola vez en caso que lo desee. Al presionar el botón guardar, el sistema registra la nueva área de servicio:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/DominioMunicipal/dominioMunicipal4.png">
    </div>
    <br> Para verificar que el proceso fue correcto, ingresar el nombre del área de servicio por encima de la grilla, esto realizará la búsqueda y nos mostrará el filtro aplicado:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/DominioMunicipal/dominioMunicipal5.png">
    </div>
    <br> En caso de querer modificar los datos de un área de servicio, en la grilla se cuenta con una columna de botones “Editar”, que al presionar una en específico, nos mostrará en el formulario derecho todos los datos, en este caso, del área de servicio
    en cuestión:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/DominioMunicipal/dominioMunicipal6.png">
    </div>
    <br> Esto permitirá visualizar la información del área de servicio seleccionada, y si desea, puede modificar cualquier dato y al presionar “Guardar” el sistema actualiza los datos:
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/DominioMunicipal/dominioMunicipal7.png">
    </div>
    <br><br>
    <div align="center">
        <img src="../../../assets/images/ManualDeUsuario/DominioMunicipal/dominioMunicipal8.png">
    </div>
    <br> Estos procedimientos se llevan a cabo de igual manera para el resto de los Dominios existentes, mostrando un listado de los mismos, permitiendo dar el alta de uno nuevo, y realizar una modificación en sus datos.
</div>