<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <h4>Calificar Reclamo</h4>
        </div>
        <div class="col-md-6">
            <button mat-button (click)="cerrarModal()" class="btnCerrar">X</button>
        </div>
    </div>
</div>

<form [formGroup]="frmRatingReclamo">
    <app-star-rating [rating]="rating" [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></app-star-rating>
    <br><br>
    <div class="form-group">
        <div class="form-row">
            <label>COMENTARIO</label>
            <textarea formControlName="comentario" [(ngModel)]="comentario" class="form-control" placeholder="Deje un comentario" cols="100" rows="3"></textarea>
        </div>
    </div>

    <button (click)="registrarRating()" [disabled]="comentario.length === 0" mat-stroked-button class="btn btnPrimario" style="float: right;">
        Enviar
    </button>
</form>