<div class="row">
    <div class="col-md-4">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Estado Orden Servicio">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="estOrd_nombre">
                <th mat-header-cell *matHeaderCellDef style="width: 250px;">Estado Orden Servicio</th>
                <td mat-cell *matCellDef="let element">{{ element.estOrd_nombre }}</td>
            </ng-container>

            <ng-container matColumnDef="Editar">
                <th mat-header-cell *matHeaderCellDef>Editar</th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="mostrarDataEstado(element.estOrd_IDEstadoOrdenServicio, element.estOrd_nombre)" mat-flat-button color="primary">
                            <i class="material-icons">create</i>
                        </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="col-md-8">
        <div class="container myAnimated myFast myFadeIn">
            <div class="card card-register mx-auto mt-5 myBorderCard">
                <div class="card-header myCardHeader">Registrar Estado Orden Servicio</div>
                <div class="card-body">
                    <form [formGroup]="frmEstadoOrden">
                        <div class="form-group">
                            <div class="form-row">
                                <label>NOMBRE*</label>
                                <input matInput id="txtEstOrd" formControlName="nombre" [(ngModel)]="inputNombre" type="text" class="form-control inputAbm" placeholder="Ingrese nombre de Estado">
                                <button *ngIf="inputNombre !== ''" mat-button (click)="resetForm()" matSuffix mat-icon-button aria-label="Clear" matTooltip="Borrar texto">
                                    <i class="material-icons">clear</i>
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8">
                                <button id="btnClear" (click)="registrarEstadoOrden(boBand)" [disabled]="!frmEstadoOrden.valid" class="btn btn-block btnPrimario myBtnCard">
                                        Guardar
                                    </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>